<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新書上架</title>
</head>
<style>
    body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 20px;
        }

        form {
            max-width: 400px;
            margin: auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #198754;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    
    input[type=number] {
        -moz-appearance: textfield;
    }

</style>

<body>
    <form action="/searchISBN" method="post">
        <label>透過ISBN碼搜尋書籍</label>
        <input type="number" name="isbn" required="required">
        <input type="submit">
    </form>
    <form action="/addNew" method="post">
        <label>ISBN碼</label>
        <input type="number" name="isbn" value="<%= isbn %>">
        <br>
        <label>書名</label>
        <input type="text" name="title" required="required" value="<%= title %>">
        <br>
        <label>作者</label>
        <input type="text" name="author" required="required" value="<%= author %>">
        <br>
        <label>購書連結</label>
        <input type="text" name="link" value="<%= link %>">
        <br>
        <label>圖片</label>
        <img id="cover" src="./images/No Image.png" onload="standby();">
        <input type="submit">
    </form>
</body>
<script>
    function standby() {
        if ('<%- pic %>') {
            document.getElementById('cover').src = '<%- pic %>'
        }
    }
</script>

</html>